*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgb(172, 43, 43);
  color: #fff;
}

.btn {
  padding: 5px 10px;
  background: rgb(74, 88, 214);
  border: #000 solid thin;
  border-radius: 5px;
  margin: 5px 0;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background: rgb(70, 81, 175);
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 1rem;

  margin: 1rem;
  list-style: none;
  font-size: 1.25rem;
}

.pokemon-list-item {
  cursor: pointer;
}

.pokemon-list-item img {
  height: auto;
  width: 100%;
}
